# OHLCV - Stocks Data Collection

## Objective

Get OHLCV information for the following stocks
*'[Walmart Inc.', 'Microsoft Corporation', 'The Home Depot','Alphabet Inc.', 'Apple Inc.', 'Wells Fargo','Chevron Corporation', 'The Coca-Cola Co','Exxon Mobil Corporation']*

1. We have used cryptocompare api to get stocks OHLCV information 
2. The data is collected from 1st January 2018 till 27th Feb 2019 [1 Year] for all 9 stocks

In [2]:
from datetime import datetime
from iexfinance.stocks import get_historical_intraday
import pandas as pd
from iexfinance.stocks import Stock
import time

stock_list = ["GOOGL","MSFT","HD","WMT","WFC","C","AAPL","KO","XOM","CVM"]


batch = Stock(stock_list)
starttime=time.time()
while True:
    print(batch.get_price())
    time.sleep(3600.0 - ((time.time() - starttime) % 3600.0))

{'MSFT': 115.91, 'GOOGL': 1190.3, 'HD': 182.23, 'WMT': 98.42, 'CVM': 2.9, 'AAPL': 186.12, 'XOM': 80.15, 'C': 65.19, 'KO': 45.3, 'WFC': 50.66}

In [8]:
# Convert all json downloaded files to pandas df
import pandas as pd
from os import listdir
from os.path import isfile, join
mypath = 'Data/Stocks-data'

complete_df=pd.DataFrame()

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

for file_name in onlyfiles:
    path_file_name = "Data/Stocks-data/"+file_name
    if '._' not in path_file_name:
        df = pd.read_csv(path_file_name)
        complete_df=complete_df.append(df,ignore_index=True)
complete_df["created_utc"] = complete_df["<DATE>"].astype(str).map(str) + complete_df["<TIME>"].astype(str)

complete_df["created_utc"] = pd.to_datetime(complete_df["created_utc"],format='%Y%m%d%H%M%S').dt.tz_localize(None)
complete_df=complete_df.drop(['<PER>', '<DATE>', '<TIME>'], axis=1)
complete_df = complete_df.rename(index=str, columns={'<TICKER>':'asset_name', '<OPEN>':'open', '<HIGH>':'high', '<LOW>':'low','<CLOSE>':'close', '<VOL>':'volume'})
df_st = pd.read_json('Hourly-Processed-Data/stocks-used.json')
result = pd.merge(complete_df,
                 df_st,
                 on='asset_name')
result.head(4)
#result.to_json('stocks.json',orient='records',date_format='iso')

,asset_name,open,high,low,close,volume,created_utc,name
0,WMT,88.81,89.43,88.81,88.89,82783,2018-03-12 09:00:00,Walmart Inc.
1,WMT,88.89,88.99,88.37,88.43,123830,2018-03-12 10:00:00,Walmart Inc.
2,WMT,88.40,88.55,88.14,88.34,86675,2018-03-12 11:00:00,Walmart Inc.
3,WMT,88.35,88.38,88.00,88.07,62987,2018-03-12 12:00:00,Walmart Inc.

In [9]:
print('\x1b[1;31m OHLCV Data for Stocks \x1b[0m')
crypto_data = pd.read_json('Hourly-Processed-Data/stocks.json')
crypto_data.groupby('name').asset_name.count().reset_index()

 OHLCV Data for Stocks

                       name  asset_name
0             Alphabet Inc.        1741
1                Apple Inc.        1741
2       Chevron Corporation        1741
3                 Citigroup        1741
4   Exxon Mobil Corporation        1741
5       Goldman Sachs Group        1660
6     Microsoft Corporation        1741
7          The Coca-Cola Co        1741
8            The Home Depot        1741
9              Walmart Inc.        1741
10              Wells Fargo        1741